<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/p ">

    <!-- 支持使用bean name方式，且允许使用逗号分隔定义多个名称，
         但是name是可以被覆盖掉的，推荐使用id唯一标识，
         name和id是可以不用定义的，此时定义的bean称之为匿名bean
    -->
    <bean id="sequenceGenerator" class="com.spring.exercise.p33.SequenceGenerator">
        <property name="prefix" value="30"/>
        <property name="suffix" value="A"/>
        <property name="initial" value="100000"/>
    </bean>

    <!-- 另外两种方式：
    <bean id="sequenceGenerator" class="com.spring.exercise.p33.SequenceGenerator">
        <constructor-arg value="30"/>
        <constructor-arg value="A"/>
        <constructor-arg value="100000"/>
    </bean>

    <bean id="sequenceGenerator" class="com.spring.exercise.p33.SequenceGenerator"
        p:prefix = "30" p:suffix="A" p:initial="100000"/>
    -->

</beans>