<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context/spring-context-2.5.xsd">


    <!-- Spring 提供了两个内置的自动代理创建器，
         一个是BeanNameAutoProxyCreator，为名称以
         Calculator结尾的Bean创建代理

         另一个自动代理创建器是 DefaultAdvisorAutoProxyCreator，这个自动代理创建器不需要任何配置，
         它会自动检查IOC容器里声明的每一个增强器和Bean
    -->
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames">
            <list>
                <value>*Calculator</value>
            </list>
        </property>
        <property name="interceptorNames">
            <list>
                <value>methodNameAdvisor</value>
                <value>regexpAdvisor</value>
                <value>aspectjAdvisor</value>
            </list>
        </property>
    </bean>

</beans>