<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:myname="http://www.lexueba.com/schema/user"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.lexueba.com/schema/user
            http://www.lexueba.com/schema/user.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="me.dennis"/>

    <bean id="helloWorld" class="me.dennis.exercise.test.HelloWorld">
         <property name="message" value="Dennis"/>
         <property name="holidays">
             <list>
                 <ref local="christmas"/>
                 <ref local="newYear"/>
             </list>
         </property>
    </bean>

    <bean id="christmas" class="me.dennis.exercise.test.Holiday">
        <property name="month" value="12"/>
        <property name="day" value="25"/>
        <property name="greeting" value="Merry Christmas"/>
    </bean>

    <bean id="newYear" class="me.dennis.exercise.test.Holiday">
        <property name="month" value="1"/>
        <property name="day" value="1"/>
        <property name="greeting" value="New Year"/>
    </bean>

    <bean id="sequenceGenerator" class="me.dennis.exercise.test.SequenceGenerator">
        <property name="prefix" value="30"/>
        <property name="suffix" value="A"/>
        <property name="initial" value="100000"/>
    </bean>

    <!--自定义标签-->
    <!--<myname:user id="testBean" userName="aaa" email="bbb"/>-->

</beans>